.main-section--hero {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: -$navbar-height;
    z-index: $zindex-hero-section;
}


.hero-video {
    position: relative;
    z-index: 10;
    @include fitToParent;
}

.hero-mask-layer {
    position: absolute;
    top: 0;
    left: 0;
    @include fitToParent;
    background: {
        color: rgba(0,0,0,.3);
        image: url('../img/bg-pattern-alpha.png');
    }
    z-index: 12;
}

.hero-mask--content {
    @include fitToParent;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    .hero-video-played & {
        display: none;
    }
}

.hero-mask--title {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    font: {
        family: "Open Sans", sans-serif;
        weight: 400;
        size: 2rem;
    }
    border-right: 3px solid rgba(255,255,255,.5);
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;

    // breakpoints
    @include breakpoint(sm) {
        padding: 0 18px;
        margin-bottom: 50px;
        font-size: 5rem;
    }
    @include breakpoint(md) {
        font-size: 6rem;
    }
}

.hero-mask--divider {
    @include size(145px, 2px);
    @include center-block;
    margin-bottom: 50px;
    background: $brand-primary;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255,255,255,.5); }
}

.hero-mask--text {
    width: 90vw;
    @include center-block;
    font-size: 1.4rem;
    line-height: 2rem;
    @include breakpoint(md) {
        max-width: 50vw;
        font-size: 1.6rem;
        line-height: 3rem;
    }
}


.hero-mask--footer {
    position: absolute;
    bottom: 35px;
    right: 55px;
    vertical-align: middle;
    .hmf-element {
        display: inline-block;
        vertical-align: middle;
    }
    .helper-text {
        color: #fff;
        font-weight: $font-weight-bold;
        margin-right: 5px;
    }
    .video-icon {
        width: 42px;
        height: 42px;
        color: #fff;
        font-size: 2rem;
        text-align: center;
        background: rgba($gray-dark, .25);
        border-radius: 50%;
        cursor: pointer;
        i { margin-right: 0; }
    }
}
