* {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
    &:before,
    &:after {
        @include box-sizing(border-box);
    }
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

address, caption, cite, code, dfn, em, 
h1, h2, h3, h4, h5, h6, var {
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, 
img, 
abbr {
    border: 0;
}

a { 
    color: inherit; 
}

button, 
input[type="submit"] {
    border: 0;
    outline: 0;
    background: transparent;
}

img {
    max-width: 100%;
    height: auto;
}


:focus { outline: 0; }

:link,
:visited { text-decoration:none }

